
form{
    background-color:lightgreen;
    margin: 0px 650px;
    border: 5px solid white;
    padding: 0px 20px;
}

input[type=submit]{
    background-color: lightblue;
    color: white;
}
input[type=reset]:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: darkblue;
    color: white;
    cursor:pointer;
}
label{
    color: white;
}

input[required]{
    border-radius: 10px;
}

input[required]:focus{
    background-color:yellow;
    border-color: 10px lightblue;
}

label::after{
    content:"*";
    color: red;
}

